In VarianceThreshold we can get the Features that are constant throughout the dataset and aren't required for the problem statement

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'A':[1,2,3,4,5,6],
       'B':[10,20,30,40,50,60],
       'C':[1,1,1,1,1,1],
       'D':[0,0,0,0,0,1]}
df = pd.DataFrame(data)

In [3]:
df

   A   B  C  D
0  1  10  1  0
1  2  20  1  0
2  3  30  1  0
3  4  40  1  0
4  5  50  1  0
5  6  60  1  1

In [4]:
from sklearn.feature_selection import VarianceThreshold
var = VarianceThreshold(threshold=0)
var.fit(df)

VarianceThreshold(threshold=0)

In [5]:
var.get_support()

array([ True,  True, False,  True])

In [8]:
col_not_req = [col for col in df.columns
              if col not in df.columns[var.get_support()]]

In [9]:
col_not_req

['C']

In [10]:
df.drop(col_not_req,axis=1)

   A   B  D
0  1  10  0
1  2  20  0
2  3  30  0
3  4  40  0
4  5  50  0
5  6  60  1